.BigImg {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding:0 30px;
    /* background-image: url("https://wallpapercave.com/wp/wp4571631.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease-in-out;
}

.arrow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
}

.arrow:hover {
    background-color: #F5761A;
    color: #fff;
    cursor: pointer;
}