.secNav {
    height: 50px;
    padding: 10px;
    font-family:  sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #fff;
}

.navs, .navs2 {
    flex: 5;
}

.navs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    height: 100%;
}

.navLists {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 106%;
}

.navLists:hover {
    cursor: pointer;
}

.navs2 {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 70%;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu {
    display: none;
    color: #fff;
}


@media screen and (max-width: 988px) {
    .navs {
        display: none
    }

    .menu {
        display:flex;
        color: #fff;
    }
}

.social {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.social:hover {
    color: #F5761A;
}

.material-symbols-outlined {
    cursor: pointer;
}

.drop {
    position: absolute;
    height: 170px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    width: 190px;
    top: 167px;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
}

.conList {
    font-size: 120%;
    color:#000000;
    padding: 10px;
    font-family: 'Calibri';
    font-size: 90%;
}

.conList:hover {
    background-color: #F5761A;
    color: #fff;
}