.secNav {
    height: 50px;
    padding: 10px;
    font-family:  sans-serif;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(13, 13, 39);
    color: #fff;
}

.navs, .navs2 {
    flex: 5;
}

.navs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    height: 100%;
    font-family: 'Calibri';
}

.navLists {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 106%;
    width: 100%;
}

.navLists:hover {
    cursor: pointer;
}

.navs2 {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 70%;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu {
    display: none;
    color: #000000;
}

.Menu {
    display: none;
}

.navName, .downArrow {
    font-weight: bold;
}


.navName:hover, .navName:active {
    color: #F5761A;
}

@media screen and (max-width: 988px) {
    .navs {
        display: none
    }

    .menu {
        display:flex;
        backdrop-filter: blur(20px);
        width: 50vw;
    }

    #check:checked ~ .menu {
        left: 0;
    }

    .Menu {
        display: block;
    }
}

.social {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.social:hover {
    color: #F5761A;
}

.material-symbols-outlined {
    cursor: pointer;
}

.drop {
    position: absolute;
    height: 190px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    width: 190px;
    margin-left: 10px;
    top: 167px;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
}

.conList {
    color: #000000;
    font-size: 120%;
    padding: 10px;
    font-family: 'Calibri';
    font-size: 90%;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
}

.conList:hover {
    color: #F5761A;
}

#check {
    display: none;
}

.menu {
    top: 203px;
    height: 40vh;
    left: -100%;
    z-index: 20;
    position: absolute;
    background-color: #fff;
    color: #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: all 0.5s ease-in-out;
}

.sideNav {
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    transition: all 0.1s ease-in-out;
    padding: 5px;
    font-size: 95%;
    font-weight: bold;
    color: #000000;
}

.sideNav:hover {
    color: #F5761A;
    cursor: pointer;
    border-radius: 10px;
}